<form action="/UploadUpdate/UploadImport" method="post" enctype="multipart/form-data">
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding:10px">
            Import WTS nhân viên mới

            <a class="btn btn-xs btn-danger" href="~/Import WTS.xlsx">Download Excel mẫu import</a>
        </div>
        <div class="panel-body">
            <label>File excel</label>
            <input type="file" name="baseFile" required class="form-control" multiple />
        </div>
        <div class="panel-footer"><input class="btn btn-primary" type="submit" name="name" value="Import WTS" /></div>
    </div>

</form>